@if $generate-class or $generate-class-margin {
  $class-margin-size: 0.5;
  $class-margin-numbers: 5;
  $class-margin-type: rem;
  @for $i from 0 to $class-margin-numbers {
    .m-#{$i} { margin: #{$i * $class-margin-size}#{$class-margin-type} isImportant(true); }
    .mt-#{$i} { margin-top: #{$i * $class-margin-size}#{$class-margin-type} isImportant(true); }
    .mb-#{$i} { margin-bottom: #{$i * $class-margin-size}#{$class-margin-type} isImportant(true); }
    .ml-#{$i} { margin-left: #{$i * $class-margin-size}#{$class-margin-type} isImportant(true); }
    .mr-#{$i} { margin-right: #{$i * $class-margin-size}#{$class-margin-type} isImportant(true); }
  }
}