@if $generate-class or $generate-class-text-color {
  .text-primary { color: colorTheme(primary) isImportant(true); }
  .text-primary-light { color: colorTheme(primary-light) isImportant(true); }
  .text-secondary { color: colorTheme(secondary) isImportant(true); }
  .text-dark { color: colorTheme(dark) isImportant(true); }
  .text-light { color: colorTheme(light) isImportant(true); }
  .text-grey { color: colorTheme(grey) isImportant(true); }
  .text-grey-dark { color: colorTheme(grey-dark) isImportant(true); }
  .text-danger { color: colorTheme(danger) isImportant(true); }
  .text-warning { color: colorTheme(warning) isImportant(true); }
  .text-success { color: colorTheme(success) isImportant(true); }
  .text-info { color: colorTheme(info) isImportant(true); }
  .text-truncate { @include textTruncate(); }
}