@mixin animated($animation){
  @if $animated{
    @extend .animated;
    @extend .#{$animation};
  }
}

@mixin transition($time: 0.4s){
  transition: all $time ease-in-out;
}

@mixin shadow($value: 1){
  @if $value == 1{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  @if $value == 2{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  @if $value == 3{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  @if $value == 4{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  @if $value == 5{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

@import './mediaQuery';
@import './flexbox';
@import './geometry';
@import './position';
@import './grid';
@import './margin';
@import './padding';
@import './background';
@import './text';
@import './button';
@import './checkBox';
@import './sidemenu';