@mixin flex($direction: row, $x: null, $y: null, $isWrap: true){
  display: flex;
  @if($direction == row){
    @if($x) { @include flexJustifyContent($x); }
    @if($y) { @include flexAlignItems($y); }
  } @else {
    flex-direction: $direction;
    @if($x) { @include flexAlignItems($x); }
    @if($y) { @include flexJustifyContent($y); }
  }
  @include flexWrap($isWrap);
}

@mixin flexAlignItems($position){
  align-items: $position
}

@mixin flexJustifyContent($position){
  justify-content: $position;
}

@mixin flexWrap($isWrap){
  @if($isWrap) { flex-wrap: wrap }
  @if($isWrap == false) { flex-wrap: nowrap }
}
