@mixin fontFamilyImports ($fonts: ()){
  @each $family in $fonts {
    @if $family == Kufan {
      @import url('https://fonts.googleapis.com/css2?family=Kufam:wght@400;700&display=swap');
    }
    @if $family == Ranchers {
      @import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
    }
    @if $family == Roboto {
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
    }
  }
}

@mixin fontFamily($family: null) {
  @if $family == Kufan { font-family: 'Kufan', cursive; }
  @if $family == Ranchers { font-family: 'Ranchers', cursive; }
  @if $family == Roboto { font-family: 'Roboto', sans-serif; }
}
