// @import '../../all.scss';
@import '../node_modules/@damenor/sass/index.scss';
@import '../node_modules/@damenor/sass/dist/styles.min.css';

body {
  background-color: colorTheme(light);
}

.app {

  &-title,
  &-subtitle {
    text-align: center;
  }

  &-title {
    color: colorTheme(primary);
    font-size: 4rem;
  }
  
  &-subtitle {
    color: colorTheme(grey-dark);
    font-size: 0.8rem;
  }

}

