$fonts: (
  Ranchers,
  Roboto
);

@import '../../index.scss';
// @import '../node_modules/@damenor/sass/index.scss';
// @import '../node_modules/@damenor/sass/dist/styles.min.css';

body {
  @include fontFamily(Roboto);
  background-color: colorTheme(light);
}

.app {
  
  &-title {
    @include fontFamily(Ranchers);
    color: colorTheme(primary);
    font-size: 4rem;
  }
  
}

